<div class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="https://es-es.facebook.com/indracompany"><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com/IndraCompany"><i class="bi bi-twitter"></i></a>
            <a href="https://www.youtube.com/user/theindracompany"><i class="bi bi-youtube"></i></a>
            <a href="https://www.linkedin.com/company/indra/"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.instagram.com/indracompany/"><i class="bi bi-instagram"></i></a>
            <p>© Indra 2013 - 2022. Todos os direitos reservados.</p>
        </div>
        <div class="indra_logo">
            <img src="../../../assets/image/indra_logo.png" alt="Indra" class="d-inline-block align-text-top">
        </div>
    </div>
</div>